header { height: 52px; }


.label { font-size: .85em; }


.user { position: relative; }


.nav > li.user > a {
	padding-left: 55px;
}


.user > a > img {
	top:      10px;
	left:     15px;
	position: absolute;
}


.pager li > select {
	display:          inline-block;
	padding:          5px 14px;
	background-color: #FFF;
	border:           1px solid #DDD;
	border-radius:    0;
	color:            #2780E3;
}